{% extends "baseCliente.html" %}

{% block log %}
<li><a href="ingreso" style="color: #fff;">Ingresar <i class="fa fa-sign-in" aria-hidden="true"> </i></a></li>
<li><a href="before" style="color: #fff;">Registrarse <i class="fa fa-user-plus" aria-hidden="true"> </i></a></li>
{% endblock %}
{% block contenido %}

{{form.errors}}
<h1 style="text-align: center;">Tipos de Clientes</h1>

<div align="center"><a href="register" type="submit" class="btn btn-info" style="width: 40%">Registro de Clientes</a></div>
<br><br>
<div align="center"><a href="registeremp" type="submit" class="btn btn-info" style="width: 40%">Registro de Empresas</a></div>

{% endblock %}