{% extends "baseCliente.html" %}
{% block log %}
<li><a href="perfil" style="color: #fff;">Perfil<i class="fa fa-sign-in" aria-hidden="true"> </i></a></li>
<li><a href="logout" style="color: #fff;">Salir<i class="fa fa-user-plus" aria-hidden="true"> </i></a></li>
{% endblock %}
{% block contenido %}

<h1 style="text-align: center;">Perfil</h1>

<table class="egt">
	<tr>
		<th>No Viajero: </th>
		<td>{{cliente.numero_viajero}}</td>
	</tr>
	<tr>
		<th>Nombres: </th>
		<td>{{cliente.primer_nombre}} {{cliente.segundo_nombre}} </td>
	</tr>
	<tr>
		<th>Apellidos: </th>
		<td>{{cliente.primer_apellido}} {{cliente.segundo_apellido}} </td>
	</tr>
	<tr>
		<th>Telefono Fijo: </th>
		<td>{{cliente.telefono_fijo}}</td>
	</tr>
	<tr>
		<th>Telefono Movil: </th>
		<td>{{cliente.telefono_movil}}</td>
	</tr>
	<tr>
		<th>Email: </th>
		<td>{{cliente.email_pasajero}}</td>
	</tr>
	{% if cliente.cliente_natural %}
	<tr>
		<th>Fecha Nacimiento: </th>
		<td>{{cliente.cliente_natural.fecha_nacimiento}}</td>
	</tr>
	{% endif %}
	{% if cliente.cliente_empresa %}
	<tr>
		<th>Nombre Empresa: </th>
		<td>{{cliente.cliente_empresa.nombre_empresa}}</td>
	</tr>
	<tr>
		<th>Nic Empresa: </th>
		<td>{{cliente.cliente_empresa.nic_empresa}}</td>
	</tr>
	<tr>
		<th>Contacto: </th>
		<td>{{cliente.cliente_empresa.nombre_contacto}}</td>
	</tr>
	{% endif %}
</table>
<h1 style="text-align: center;">Tarjeta</h1>
{% if tarjeta %}
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr class="success">
        <th>No de Tarjeta</th>
        <th>Nombre de Tarjeta</th>
        <th>Fecha Vencimiento</th>
        <th>Tipo de Tarjeta</th>
    </tr>
    
    	{% for tarj in tarjeta %}

    <tr>
        <td>{{tarj.numero_tarjeta}}</td>
        <td>{{tarj.nombre_tarjeta}}</td>
        <td>{{tarj.vencimiento}}</td>
        <td>{{tarj.tipo_tarjeta.nombre_tarjeta}}</td>
    </tr>
    	{% endfor %}

</table>
{% else %}
<h3>No hay Tarjetas</h3>
{% endif %}


<div align="center"><a href="tarj" type="submit" class="btn btn-info" style="width: 40%">Ingresar nueva tarjeta</a></div>

<h1 style="text-align: center;">Reservaciones</h1>
{% if list %}
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr class="success">
        <th>Codigo Reservacion</th>
        <th>Tipo de Viaje</th>
        <th>Fecha de Salida</th>
        <th>Fecha de Regreso</th>
        <th>Costo</th>
        <th>Estado</th>
        <th>Realizar<br>Pago</th>
    </tr>
    
    	{% for li in list %}

    <tr>
        <td>{{li.0}}</td>
        <td>
        	{% if li.1 == '1' %}
        	Ida
        	{% else %}
        	Vuelta
        	{% endif %}
        </td>
        <td>{{li.2}}</td>
        <td>{{li.3}}</td>
        <td>${{li.4}}</td>
        <td>{{li.5}}</td>
        <td>
        	{% if li.5 == 'No Pagado' %}
        	<a class="btn btn-danger" href="/pagox/{{li.0}}">Pagar</a>
        	{% else %}
        	Ya se realizo Pago
        	{% endif %}
        </td>
    </tr>
    	{% endfor %}

</table>
{% else %}
<h3>No hay Reservaciones</h3>
{% endif %}

{% endblock %}