{% extends "baseAdmin1.html" %}
{% block contenido %}

{{form.errors}}

<form method="post">
{% csrf_token  %}

<div class="col-md-12 col-md-offset-0">
        <legend class="the-legend"><h1 style="text-align: center;">Eliminar Tipo de Targeta</h1></legend>
    </div>


<div class="row">
   
        <div class="col-md-12">
            <h3>¿Desea eliminar el Tipo de Tarjeta <strong> {{object.nombre_tarjeta}} </strong>? </h3>
              
        </div>
    
    
  
</div>

<div class="row">
    <div class="form-group col-md-11">
<button class="btn btn-danger pull-right" type="submit">Eliminar</button>
<a class="btn btn-warning col-md-offset-1 pull-left" href="{% url "aaae:listaTargeta" %}">Regresar</a>
</div>
</div>
</form>
{% endblock %}