{% extends "baseCliente.html" %}
{% block contenido %}

<form method="post">
{% csrf_token  %}

<div class="container">
    <h2>Busqueda de Vuelos</h2>

<div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                             <div class="serchtile">Ciudad Origen</div>
                          <label class="sr-only" for="looking">Ciudad origen</label>
                <select name="searchText"  class="form-control selectpicker" id="ciudadOrigen" data-Live-search="true" title="Ciudad Origen">
          {% for ciudad in ciudades %}
            <option value="{{ciudad.cod_iata_ciudad}}">{{ ciudad.nombre_ciudad }}</option>
          {% endfor %}
          </select>
                        </div>
                      </div>


                      <div class="col-md-4">
                        <div class="form-group">
                             <div class="serchtile">Ciudad Destino</div>
                          <label class="sr-only" for="looking">ciudad destino</label>
                <select name="searchText"  class="form-control selectpicker" id="ciudadDestino" data-Live-search="true" title="Ciudad Origen">
          {% for ciudad in ciudades %}
           <option value="{{ciudad.cod_iata_ciudad}}">{{ ciudad.nombre_ciudad }}</option>
          {% endfor %}
          </select>
                        </div>
                      </div>
                      
                          
                      <div class="col-md-2">
                       
                        <div class="form-group">
                                <div class="serchtile">Fecha Partida</div>
                          <label class="sr-only" for="toage">Fecha partida</label>
                          <div class="input-group">
                            <input type="date" class="form-control" name="fecha_partida" value="" required>
                             </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                        <div class="form-group">
                            <div class="serchtile">Fecha Regreso</div>
                          <label class="sr-only" for="religion">Fecha regreso</label>
                          <input type="date" class="form-control" name="fecha_regreso" value="" required>
                        </div>
                      </div>
                      <div class="col-md-2">
                          <br>
                        <button type="submit" class="btn btn-default btn-primary">Buscar</button>
                   
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</form>

{% endblock %}