{% extends "baseCliente.html" %}
{% block contenido %}
<div class="container">
  <div class="row">

    <section class="content">
      <h1>Table Filter</h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="pagado">Pagado</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Cancelado</button>
                <button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
              </div>
            </div>



          <h1>Destinos Aeropuertos</h1>

          <div class="table-container">
              <table class="table table-filter">
                <tbody>
          { for salida in salidas %}

          <tr data-status="pagado">
                    <td>
                      <div class="ckbox">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:;" class="star">
                        <i class="glyphicon glyphicon-star"></i>
                      </a>
                    </td>
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span class="media-meta pull-right">Febrero 13, 2016</span>
                          <h4 class="title">
                            Lorem Impsum
                            <span class="pull-right pagado">(Pagado)</span>
                          </h4>
                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                        </div>
                      </div>
                    </td>
                  </tr>
            
          @endforeach

                </tbody>
              </table>
          </div>



          <h1>Regreso Aeropuertos</h1>
          { for regreso in regresos %}

           <tr data-status="pagado">
                    <td>
                      <div class="ckbox">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:;" class="star">
                        <i class="glyphicon glyphicon-star"></i>
                      </a>
                    </td>
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                          <span class="media-meta pull-right">Febrero 13, 2016</span>
                          <h4 class="title">
                            Lorem Impsum
                            <span class="pull-right pagado">(Pagado)</span>
                          </h4>
                          <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                        </div>
                      </div>
                    </td>
                  </tr>
            
          @endforeach

           
          </div>
        </div>
        
      </div>
    </section>
    
  </div>
</div>


{% endblock %}