{% extends "baseAdmin.html" %}
{% block contenido %}




<div class="col-md-12 col-md-offset-0">
        <legend class="the-legend"><h1 style="text-align: center;">Tipo de Documento</h1></legend>
    </div>


<div class="row">
    <span><p><a href="nuevo-tipo"><button class="btn btn-success"><i class="fa fa-fw -square -circle fa-plus-square"></i> Agregar Tipo Documento</button></a></p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr class="success">
                    <th>Tipo de Documento</th>
                    <th style="width: 250px;">Acciones</th>
                </tr>
                {% if object_list %}
                {% for tipo in object_list %}

                <tr>
                    <td>{{tipo.nombre_tipo_documento}}</td>
                    <td>
                        <a class="btn btn-info" href="{% url "aaae:tipoEditar" tipo.id_tipo_documento %}">Editar</a>
                        <a class="btn btn-danger" href="{% url "aaae:tipoEliminar" tipo.id_tipo_documento %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h3>No hay Tipos de Documentos</h3>
                {% endif %}
            </table>

            <ul class="pager">
                <li>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
                <li>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
                </li>
            </ul>

        </div>
    
    
  
</div>


{% endblock %}