{% extends "baseAdmin.html" %}
{% block contenido %}




<div class="col-md-12 col-md-offset-0">
        <legend class="the-legend"><h1 style="text-align: center;">Listado de Paises</h1></legend>
    </div>


<div class="row">
    <span><p><a href="{% url "aaae:nuevoPais" %}"><button class="btn btn-success"><i class="fa fa-fw -square -circle fa-plus-square"></i> Agregar Pais</button></a></p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr class="success">
                    <th>Pais</th>
                    <th>Codigo IATA</th>
                    <th style="width: 250px;">Acciones</th>
                </tr>

                {% if object_list %}
                {% for pais in object_list %}

                <tr>
                    <td>{{pais.nombre_pais}}</td>
                    <td>{{pais.cod_iata_pais}}</td>
                    <td>
                        <a class="btn btn-info" href="#">Editar</a>
                        <a class="btn btn-danger" href="#">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <h3>No hay paises registrados</h3>
                {% endif %}
            </table>

            <ul class="pager">
                <li>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
                <li>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
                </li>
            </ul>
        </div>
    
    
  
</div>


{% endblock %}