{% extends "baseAdmin.html" %}
{% block contenido %}


<form method="post">
{% csrf_token  %}

<div class="col-md-12 col-md-offset-0">
        <legend class="the-legend"><h1 style="text-align: center;">Parametros del Aeropuerto</h1></legend>
    </div>


<div class="row">
   
        <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <label for="">Nombre del Aeropuerto</label>
                        {{form.nombre_aeropuerto}}
                    </div>

                    <div class="form-group col-md-3">
                            <label for="">Telefono del Aeropuerto</label>
                        {{form.telefono_aeropuerto}}
                    </div>

                    <div class="form-group col-md-3">
                        <label for="">Nombre Responsable</label>
                        {{form.nombre_responsable}}
                    </div>

                    <div class="form-group col-md-3">
                            <label for="">Ciudad</label>
                            {{form.ciudad}}
                        </div>
        </div>
    
    
  
</div>

<div class="row">
    <div class="form-group col-md-11">
<button class="btn btn-primary pull-right" type="submit">Actualizar</button>
<a class="btn btn-warning col-md-offset-1 pull-left" href="{% url "aaae:listaAero" %}">Regresar</a>
</div>
</div>
{{form.codigo_aeropuerto}}
{{ form.errors }}
</form>
{% endblock %}